
@model ResetPasswordViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Traversal Şifre Değiştirme Ekranı</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="https://i.hizliresim.com/po8cum1.gif" style="width:auto;height:281px;" alt="IMG">
                </div>

                <form class="login100-form validate-form" method="post" asp-action="ResetPassword" asp-controller="PasswordChange">
                    <span class="login100-form-title">
                        Şifre Değiştirme Sayfası
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" asp-for="Password" placeholder="Yeni Şifre">
                        <span asp-validation-for="Password"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" asp-for="ConfirmPassword" placeholder="Yeni Şifre Tekrarı">
                        <span asp-validation-for="ConfirmPassword"></span>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Kaydet
                        </button>
                    </div>
                    <br /> <br /> <br />
                </form>
            </div>
        </div>
    </div>

</body>
</html>
