<style>
    .d-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .buttons-singles {
        display: flex;
        align-items: center;
    }

        .buttons-singles.tags a,
        .buttons-singles a {
            display: inline-block;
            margin: 5px 10px 5px 0;
            padding: 5px 10px;
            background-color: #f0f0f0;
            border-radius: 5px;
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s;
        }

            .buttons-singles.tags a:hover,
            .buttons-singles a:hover {
                background-color: #007bff;
                color: #fff;
            }

        .buttons-singles h4 {
            margin-right: 10px;
        }
</style>

<div class="d-grid left-right mt-5 pb-md-5">
    <div class="buttons-singles tags">
        <h4>Etiketler :</h4>
        <a href="#blog-tag">Seyahat</a>
        <a href="#blog-tag">Gezi</a>
        <a href="#blog-tag">Hotel</a>
        <a href="#blog-tag">Yemek</a>
        <a href="#blog-tag">Tur</a>
        <a href="#blog-tag">Dünya</a>
    </div>
    <div class="buttons-singles">
        <h4>Paylaş :</h4>
        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
        <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
    </div>
</div>